<div>
    <div class="d-flex flex-column justify-content-center align-items-center bg-white mnh-100vh">
        <a class="u-login-form mb-5" href="/">
            <img class="img-fluid" src="./assets/img/logo.png" width="180" alt="Stream Dashboard UI Kit">
        </a>
        <div class="u-login-form">
            <form class="mb-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-1">
                    <h1 class="h1 text-primary">Welcome Back!</h1>
                    <p class="small">Login to your dashboard with your registered email address and password.</p>
                </div>
                <div *ngIf="error" class="alert alert-soft-danger fade show" role="alert">
                    <i class="fa fa-minus-circle alert-icon mr-3"></i>
                    <span>{{ error }}</span>
                    <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="form-group mb-4">
                    <label class="text-muted" for="email">Your email</label>
                    <input type="email" name="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && form.email.errors }" placeholder="john.doe@example.com">
                    <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                        <div *ngIf="form.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="text-muted" for="password">Password</label>
                    <input type="password" name="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && form.password.errors }" placeholder="Your password">
                    <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                        <div *ngIf="form.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-between align-items-center mb-4">
                    <div class="custom-control custom-checkbox">
                        <input id="rememberMe" class="custom-control-input" name="rememberMe" type="checkbox">
                        <label class="custom-control-label text-muted" for="rememberMe">Remember me</label>
                    </div>
                    <a class="link-muted small" href="account-password-recover.html">Forgot Password?</a>
                </div>
                <button [disabled]="isLoading" class="btn btn-primary btn-block">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
            </form>
            <div class="u-login-form text-muted py-3 mt-auto">
                <small><i class="far fa-question-circle mr-1"></i> If you are not able to sign in, please <a
                        href="#">contact us</a>.</small>
            </div>
        </div>
    </div>
</div>