<div *ngIf="isLoading" class="loader-main">
    <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
    </div>
</div>
<div *ngIf="!isLoading" class="justify-content-center align-items-center bg-white">
    <div class="mb-4 mt-4">
        <nav aria-label="breadcrumb">
            <h1 class="h3">Add New Member</h1>
            <ol class="breadcrumb bg-transparent small p-0">
                <li class="breadcrumb-item"><a routerLink="" href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add New Member</li>
            </ol>
        </nav>
    </div>
    <div *ngIf="error" class="alert alert-soft-danger fade show" role="alert">
        <i class="fa fa-minus-circle alert-icon mr-3"></i>
        <span>{{ error }}</span>
        <button type="button" class="close" aria-label="Close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div *ngIf="message" class="alert alert-soft-success fade show" role="alert">
        <i class="fa fa-minus-circle alert-icon mr-3"></i>
        <span>{{ message }}</span>
        <button type="button" class="close" aria-label="Close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-12 offset-lg-2">
            <div class="card">
                <div class="card-header">
                    Add New Member
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form autocomplete="off" [formGroup]="memberForm" (ngSubmit)="onSubmit()">
                                <div class="form-group mb-4">
                                    <label for="name">Full Name</label>
                                    <span class="form-icon-wrapper">
                                        <span class="form-icon form-icon--left">
                                            <i class="fa fa-user-circle form-icon__item"></i>
                                        </span>
                                        <input id="name" formControlName="name" name="name"
                                            [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
                                            class="form-control form-icon-input-left" type="text" placeholder="John Doe"
                                            required aria-describedby="John Doe">
                                        <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                                            <div *ngIf="form.name.errors.required">Full Name is required</div>
                                        </div>
                                    </span>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="identity">Identification Number</label>
                                    <span class="form-icon-wrapper">
                                        <span class="form-icon form-icon--left">
                                            <i class="far fa-id-card form-icon__item"></i>
                                        </span>
                                        <input id="identity" formControlName="identity" name="identity"
                                            class="form-control form-icon-input-left"
                                            [ngClass]="{ 'is-invalid': submitted && form.identity.errors }"
                                            type="number" placeholder="Identification Number" required
                                            aria-describedby="Identification Number">
                                        <div *ngIf="submitted && form.identity.errors" class="invalid-feedback">
                                            <div *ngIf="form.identity.errors.required">Identification Number is required
                                            </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="id">Department</label>
                                    <span class="form-icon-wrapper">
                                        <span class="form-icon form-icon--left">
                                            <i class="far fa-building form-icon__item"></i>
                                        </span>
                                        <select formControlName="department"
                                            [ngClass]="{ 'is-invalid': submitted && form.department.errors }"
                                            class="form-control form-icon-input-left">
                                            <option selected value="">Select Department</option>
                                            <option value="HR">Human Resource</option>
                                            <option value="IT">IT Department</option>
                                            <option value="Marketing">Marketing Department</option>
                                            <option value="Management">Management Department</option>
                                            <option value="Networking">Networking Department</option>
                                        </select>
                                        <div *ngIf="submitted && form.department.errors" class="invalid-feedback">
                                            <div *ngIf="form.department.errors.required">Email is required</div>
                                        </div>
                                    </span>
                                </div>
                                <div class="form-group mb-4">
                                    <button type="submit" [disabled]="memberForm.invalid" data-backdrop="false"
                                        class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>