<!-- Header (Topbar) -->
<nav class="navbar navbar-expand-lg nav navbar-white bg-white">
    <div class="u-header-left">
        <a class="u-header-logo" routerLink="">
            <img class="img-fluid" src="./assets/img/logo.png" width="150" alt="Logo">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas text-primary fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a routerLink="/" class="link-muted nav-item nav-link">Home</a>
            </li>

        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item" *ngIf="!currentUser">
                <a routerLink="/players" class="link-muted nav-item nav-link">Players</a>
            </li>
            <li class="nav-item">
                <a routerLink="/game" class="link-muted nav-item nav-link">Game</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End Header (Topbar) -->
<!-- main content container -->
<div class="container mb-5">
    <router-outlet></router-outlet>
</div>
<footer class="u-footer mt-4 d-md-flex align-items-md-center text-center text-md-left text-muted">
    <p class="h5 mb-0 ml-auto">
        &copy; 2020 <a class="link-muted" href="https://github.com/kamrulislamtushar" target="_blank">Kamrul Islam
            Tushar</a>. All Rights Reserved.
    </p>
</footer>