<div *ngIf="isLoading" class="loader-main">
    <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
    </div>
</div>
<div *ngIf="!isLoading" class="u-content vh-100">
    <div class="u-body">
        <h1 class="h2 font-weight-semibold mb-4">Members</h1>

        <div class="card mb-4">
            <header class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h2 class="h3 card-header-title text-primary">Manage Members</h2>
                    </div>
                    <div class="col-6">
                        <a class="float-right btn btn-primary btn-sm" data-toggle="modal" href="#addMemberModal">
                            <i class="fas fa-user-plus"></i> Add Member
                        </a>
                    </div>
                </div>

            </header>
            <div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="addMemberModal"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add New Member</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group mb-4">
                                <label for="name">Full Name</label>
                                <span class="form-icon-wrapper">
                                    <span class="form-icon form-icon--left">
                                        <i class="fa fa-user-circle form-icon__item"></i>
                                    </span>
                                    <input id="name" name="name" class="form-control form-icon-input-left" type="text"
                                        placeholder="John Doe" required aria-describedby="John Doe">
                                </span>
                            </div>
                            <div class="form-group mb-4">
                                <label for="id">Identification Number</label>
                                <span class="form-icon-wrapper">
                                    <span class="form-icon form-icon--left">
                                        <i class="far fa-id-card form-icon__item"></i>
                                    </span>
                                    <input id="id" class="form-control form-icon-input-left" type="text"
                                        placeholder="Identification Number" aria-describedby="Identification Number">
                                </span>
                            </div>
                            <div class="form-group mb-4">
                                <label for="id">Department</label>
                                <span class="form-icon-wrapper">
                                    <span class="form-icon form-icon--left">
                                        <i class="fas fa-lock form-icon__item"></i>
                                    </span>
                                    <select class="form-control form-icon-input-left">
                                        <option  value="">Select Department</option>
                                        <option  value="">Human Resource</option>
                                        <option  value="">Select Department</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover data-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th class="text-center" scope="col">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let member of members; index as i">
                                <td>{{ i+1 }}</td>
                                <td>{{ member.id }}</td>
                                <td>{{ member.name }}</td>
                                <td>
                                    <a class="badge badge-soft-success" href="#">{{ member.department }}</a>
                                </td>
                                <td class="text-center">
                                    <a id="actions1Invoker" class="link-muted" href="#!" aria-haspopup="true"
                                        aria-expanded="false" data-toggle="dropdown">
                                        <i class="fa fa-sliders-h"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right dropdown" style="width: 150px;"
                                        aria-labelledby="actions1Invoker">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a class="d-flex align-items-center link-muted py-2 px-3" href="#!">
                                                    <i class="fa fa-plus mr-2"></i> Add
                                                </a>
                                            </li>
                                            <li>
                                                <a class="d-flex align-items-center link-muted py-2 px-3" href="#!">
                                                    <i class="fa fa-minus mr-2"></i> Remove
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>