<div *ngIf="isLoading" class="loader-main">
    <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
    </div>
</div>
<div *ngIf="!isLoading" class="u-content vh-100">
    <div class="u-body">
        <div class="mb-4 mt-4">
            <nav aria-label="breadcrumb">
                <h1 class="h3">Members</h1>
                <ol class="breadcrumb bg-transparent small p-0">
                    <li class="breadcrumb-item active" aria-current="page"><a routerLink="" href="#">Home</a></li>
                </ol>
            </nav>
        </div>
        <div *ngIf="error" class="alert alert-soft-danger fade show" role="alert">
            <i class="fa fa-minus-circle alert-icon mr-3"></i>
            <span>{{ error }}</span>
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div *ngIf="message" class="alert alert-soft-success fade show" role="alert">
            <i class="fa fa-minus-circle alert-icon mr-3"></i>
            <span>{{ message }}</span>
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="card mb-4">
            <header class="card-header ml-3">
                <div class="row">
                    <div class="col-6">
                        <h2 class="h3 card-header-title text-primary">Manage Members</h2>
                    </div>
                    <div *ngIf="isAdmin()" class="col-6">
                        <a class="float-right btn btn-primary btn-sm" routerLink="members-create" href="">
                            <i class="fas fa-user-plus"></i> Add Member
                        </a>
                    </div>
                </div>

            </header>
            <div class="card-body member-list">
                <div class="table-responsive">
                    <table class="table table-hover data-table">
                        <thead>
                            <tr>
                                <th scope="col"><i class="fas fa-sort-numeric-down mr-2"></i>#</th>
                                <th scope="col"><i class="far fa-id-card mr-2"></i>ID</th>
                                <th scope="col"><i class="fas fa-info-circle mr-2"></i>Name</th>
                                <th scope="col"><i class="far fa-building mr-2"></i>Department</th>
                                <th class="text-center" scope="col"><i class="fas fa-cogs mr-2"></i>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let member of members; index as i">
                                <td>{{ i+1 }}</td>
                                <td>{{ member.id }}</td>
                                <td>{{ member.name }}</td>
                                <td>
                                    <a class="badge badge-soft-success" href="#">{{ member.department }}</a>
                                </td>
                                <td class="text-center">
                                    <a id="actions1Invoker" class="link-muted" href="#!" aria-haspopup="true"
                                        aria-expanded="false" data-toggle="dropdown">
                                        <i class="fa fa-sliders-h"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right dropdown" style="width: 150px;"
                                        aria-labelledby="actions1Invoker">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a class="d-flex align-items-center link-muted py-2 px-3"
                                                    [routerLink]="['/members/'+ member.id]" href="#">
                                                    <i class="fas fa-info-circle mr-2 text-primary"></i> View Details
                                                </a>
                                            </li>
                                            <li *ngIf="isAdmin()">
                                                <a class="d-flex align-items-center link-muted py-2 px-3"
                                                    [routerLink]="['/members-edit/'+ member.id]" href="#">
                                                    <i class="fas fa-user-edit mr-2 text-info"></i> Edit Details
                                                </a>
                                            </li>
                                            <li *ngIf="isAdmin()">
                                                <button
                                                    class="d-flex align-items-center btn btn-link link-muted py-2 px-3"
                                                    (click)="removeMember(member.id)">
                                                    <i class="fas fa-minus-circle mr-2 text-danger"></i> Remove</button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>